.container {
    background-color: white;
    position: relative;
    padding: 10px;
}

.title {
    background-color: transparent;
    position: relative;
}
.title h4 {
    font-size: 1.1em;
    margin: 0px;
    padding: 0px;
    color: #990F3D;
}
.title h1 {
    font-size: 1.8em;
    margin: 0px;
    padding: 0px;
    color: #f48bae;
}

.title a {
    color: #f48bae;
    text-decoration: none;
}
.title a:hover {
    text-decoration: underline;
}

.texts {
    background-color: transparent;
    position: relative;
}
.texts p {
    color: #999;
}

.banner {
    background-color: transparent;
    position: relative;
}
.banner img{
    border: 1px solid #fff;
    position: relative;
    width: 100%;
}

.banner a:hover img{
    border: 1px solid #999;
}