.container {
    background-color: #1a344c;
    position: relative;
    padding: 10px 5px;
    margin: 0px auto;
}
.containerDef {
    background-color: #1a344c;
    position: relative;
    padding: 10px 5px;
    max-width: 1020px;
    min-width: 620px;
    margin: 0px auto;
}
.containerDef h1, .container h1 {
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    margin: 0px;
    padding: 0px;
    display: inline;
}
.containerDef h1::before, .container h1::before {
    content: '\2756';
}
.container a, .containerDef a{
    color: #fff;
    text-decoration: none;
}