.container {
    background-color: white;
    position: relative;
}
.headerContents {
    background-color: #1a344c;
    position: relative;    
}
.footerContents {
    position: relative;    
}

.mainContentsDef {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 200px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    padding: 10px;
    max-width: 1020px;
    min-width: 620px;
    margin: 0px auto;
}
.featuredDef {
    background-color: #fff;
    grid-column: 1 / 4;
    grid-row: 1;
}
.mainRecipesDef {
    background-color: #fff;
    grid-column: 1 / 4;
    grid-row: 2;
}
.listRecipesDef {
    background-color: #fff;
    grid-row: 1 / 4;
}
.sideRecipesDef {
    background-color: #fff;
    grid-column: 1 / 4;
    grid-row: 3;
}

.mainContents {
    display: grid;
    grid-gap: 10px;
    padding: 10px 0px;
    /*max-width: 1020px;*/
    /*min-width: 620px;*/
    margin: 0px auto;
}
.featured {
    background-color: #fff;
    grid-row: 1;
}
.mainRecipes {
    background-color: #fff;
    grid-row: 2;
}
.listRecipes {
    background-color: #fff;
    grid-row: 4;
}
.sideRecipes {
    background-color: #fff;
    grid-row: 3;
}