.container {
    background-color: white;
    position: relative;
    padding: 5px;
}
.header {
    position: relative;
    padding: 10px 0px 5px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #b3cde5;
}
.header h4 {
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    color: #b3cde5;
}
.noDataContainer {
    background-color: white;
    position: relative;
    color: white;
}
.noDataContainer::before {
    content: ".";
}